/* @ */
@tailwind base;
@tailwind components;
@tailwind utilities;
#root{
  width: 1260px;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
}
@font-face{
  font-family: 'Axiforma-Bold';
  
src:local('Axiforma-Bold'),
 url('./assets/AakarFont/Axiforma-Bold.woff') format('woff');
  
}
.Axiforma-Bold{
  font-family: 'Axiforma-Bold';

}
@font-face{
  font-family: 'Axiforma-Medium';
  
src:local('Axiforma-Medium'),
 url('./assets/AakarFont/Axiforma-Medium.woff') format('woff');
  
}
.Axiforma-Medium{
  font-family: 'Axiforma-Medium';
}

@font-face{
  font-family: 'Axiforma-Regular';
  
src:local('Axiforma-Regular'),
 url('./assets/AakarFont/Axiforma-Regular.woff') format('woff');
  
}

.Axiforma-Regular{
  font-family: 'Axiforma-Regular';
}

@font-face{
  font-family: 'Axiforma-Light';
  
src:local('Axiforma-Light'),
 url('./assets/AakarFont/Axiforma-Light.woff') format('woff');
  
}

.Axiforma-Light{
  font-family: 'Axiforma-Light';
}

@font-face{
  font-family: 'Axiforma-SemiBold';
  
src:local('Axiforma-SemiBold'),
 url('./assets/AakarFont/Axiforma-SemiBold.woff') format('woff');
  
} 

.Axiforma-SemiBold{
  font-family: 'Axiforma-SemiBold';
}

h1, h2, h3, h4{
  font-family: 'Axiforma-bold';
  color: #052E14;
}
h5, h6{
  font-family: 'Axiforma-semiBold';
  color: #052E14;
}
h1{
  font-size: 40px;
  line-height: 48px;
}
h2{
  font-size: 36px;
  line-height: 44px;
}
h3{
  font-size: 32px;
  line-height: 40px;
}
h4{
  font-size: 28px;
  line-height: 36px;
}
h5{
  font-size: 24px;
  line-height: 32px;
}
h6{
  font-size: 20px;
  line-height: 28px;
}
p{
  font-family: 'Axiforma-Regular';
  font-size: 16px;
  line-height: 24px;
  color: #063517;
}

/* src/styles/custom.css */
/* @layer components {
  h1 {
    @apply font-axiforma font-bold text-[#052E14] text-[40px] leading-[48px] md:text-[36px] md:leading-[44px];
  }

  h2 {
    @apply font-axiforma font-bold text-[#052E14] text-[36px] leading-[44px] md:text-[32px] md:leading-[40px];
  }

  h3 {
    @apply font-axiforma font-bold text-[#052E14] text-[32px] leading-[40px] md:text-[28px] md:leading-[36px];
  }

  h4 {
    @apply font-axiforma font-bold text-[#052E14] text-[28px] leading-[36px] md:text-[24px] md:leading-[32px];
  }

  h5 {
    @apply font-axiforma font-semibold text-[#052E14] text-[24px] leading-[32px] md:text-[20px] md:leading-[28px];
  }

  h6 {
    @apply font-axiforma font-semibold text-[#052E14] text-[20px] leading-[28px] md:text-[16px] md:leading-[24px];
  }

  p {
    @apply font-axiforma font-medium text-[#052E14] text-[16px] leading-[24px] md:text-[14px] md:leading-[20px];
  }
} */
